@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h2>Create a Customer</h2>
    <form class="form-group" method="POST" action="/Customer/CreateCustomer">

        <label>Customer ID</label>
        <br/>
        <input type="text" name="id">
        <br/>
        <label>First Name</label>
        <br/>
        <input type="text" name="firstName"/>
        <br/>
        <label>Last Name</label>
        <br/>
        <input type="text" name="lastName"/>
        <br/>
        <label>Address</label>
        <br/>
        <input type="text" name="address"/>
        <br/>
        <label>State</label>
        <br/>
        <input type="text" name="state"/>
        <br/>
        <label>Country</label>
        <br/>
        <input type="text" name="country"/>
        <br/>
        <label>Zip Code</label>
        <br/>
        <input type="text" name="zipCode"/>
        <br/>
        <label>Phone Number</label>
        <br/>
        <input type="text" name="phoneNumber"/>
        <br/>
        <br/>
        <br/>
        <input type="submit" value="Create">

    </form>
</div>