@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" xmlns="http://www.w3.org/1999/html">
    <h1 class="display-4">Welcome!</h1>
    <p>
        To Create a customer click on
        <a href="/Customer/Create">Create</a>
    </p>
    <p>
        To View all customers click on
        <a href="/Customer/Admin">Admin</a>
    </p>

</div>