@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p>To Create a customer click on <a>Create a Customer</a></p>
    <p>To View all customers click on <a href="/Customer/Admin">Admin</a></p>
</div>